* {
  box-sizing: border-box;
  body {
    background-color: pink;
    .white {
      background-color: white !important;
    }
    .purple {
      background-color: purple;
    }
    #score {
      font-size: 5rem;
    }
    h1 {
      color: white;
      text-align: center;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      width: 500px;
      margin: 0;
      padding: 0;
      list-style: none;
      margin: auto;
      li {
        border: 1px solid;
        height: 50px;
        width: 50px;
        font-size: 30px;
        line-height: 30px;
      }
    }
  }
}
