* {
  box-sizing: border-box;
  body {
    background-color: pink;
    .white {
      background-color: white;
      // background-color: white !important;
    }
    .purple {
      background-color: white;
      text-align: center;
      // line-height: 1px;
      // font-size: 1px;
    }
    // #score {
    //   font-size: 5rem;
    //   p {
    //     margin: 0 auto;
    //     display: inline-block;
    //     float: left;
    //   }
    // }
    h1 {
      color: white;
      text-align: center;
    }
    .wordHolder {
      ul {
        margin: 0;
        display: block;
        padding: 0;
        li {
          position: relative;
          list-style: none;
          margin: 0;
          padding: 0 10px;
          display: inline-block;
          font-size: 1.6rem;
        }
      }
    }
    .gameBoard {
    ul {
      display: flex;
      flex-wrap: wrap;
      width: 500px;
      margin: 0;
      padding: 0;
      list-style: none;
      margin: auto;
      // border: 1px solid;
      li {
        border: 1px solid;
        height: 50px;
        width: 50px;
        font-size: 30px;
        line-height: 30px;
        border-radius: 10px;
        }
      }
      }
    }
  }
